APP_NAME="Vampqwe Engine"
APP_ENV=local
APP_DEBUG=true
APP_TIMEZONE=UTC

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=vampqwe
MYSQL_USERNAME=root
MYSQL_PASSWORD=

MIGRATIONS_PATH=database/migrations
SESSION_SECURE_COOKIE=false